<div class="wrapper">    
        <p class="welcomeLog">Wellcome!</p>   
    <span class="pressButtonSpan">Please click the button below to register.</span>
    <a class="btn btn-primary" routerLink="/register">Register</a>
    <input type="button" value="Get user Data" (click)="getUser()">
    <input type="button" value="add user Data" (click)="adduser()">
</div>
<button (click)="setStateData()">setStateData</button>
<button (click)="getStateData()">getStateData</button>
<button (click)="showLoader()">show Loader</button>
<button (click)="hideLoader()">hide loader</button>


<app-loader></app-loader>
<app-generic-table></app-generic-table>
